body{
    background-color:#000000;
    margin:0;
}
#logoDiv{
    border:none;
    border-bottom:solid gray;
}
.container{
    width:80vw;
    margin:0 auto;
    background-color: #000000;
}
.nav-container{
    display:grid;
    background-color: #000000;
    grid-template-rows: auto auto auto;
    padding:0;

}
.text{
    color: White;
}
.nav1{
    height:100px;
}
.ns{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.navitem{
    background-color: #000000;
    text-align:center;
    padding: 20px;
    font-size: 30px;
    border:solid grey 1px;
}   
.grid-container{
    display:grid;
    background-color: #000000;
    /* grid-template-columns: auto auto auto auto auto auto; */
}
.grid-item{
    background-color: #000000;
    text-align:center;
    font-size: 20px;
    padding: 40px;
}
.item1{
    grid-column: 1;
    grid-row: 1;

}
.item2{
    background: url(../images/remodel.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    grid-column: 2;
    grid-row: 1;
    height: 58vw;
    width: 83.3vw;
    background-size: contain;
    padding:0px;
}
.item4{
    grid-column: 1 / span 2;
    grid-row: 2; 
}
.item7{
    grid-column: 1 / span 2;    

}